$badge-padding: $space-4 $space-8;
$badge-margin: 0;
$badge-font-size: $font-size-small;
$badge-line-height: inherit;
$badge-letter-spacing: inherit;
$badge-border-radius: $brand-border-radius;
$badge-font-weight: $font-weight-regular;

$badge-outlined-border-width: 1px;

$badge-variations: (
  'default': (
    'bg': var(--brand-default),
    'color': #fff, // TODO: theme foreground-color
  ),
  'primary': (
    'bg': var(--brand-primary),
    'color': #fff, // TODO: theme foreground-color
  ),
  'secondary': (
    'bg': var(--brand-secondary),
    'color': #fff, // TODO: theme foreground-color
  ),
  'success': (
    'bg': var(--brand-success),
    'color': #fff, // TODO: theme foreground-color
  ),
  'warning': (
    'bg': var(--brand-warning),
    'color': #fff, // TODO: theme foreground-color
  ),
  'danger': (
    'bg': var(--brand-danger),
    'color': #fff, // TODO: theme foreground-color
  ),
);
