html.light {
  --nav-bar-color: #{foreground-color(palette-color-level('coral', 50))};
}
html.dark {
  --nav-bar-color: #{foreground-color(palette-color-level('coral', 50))};
}

$nav-bar-bg: var(--brand-primary);
$nav-bar-color: var(--nav-bar-color);
$nav-bar-width: 100%;
$nav-bar-height: $space-52;
$nav-bar-padding: $space-12;
$nav-bar-index: 1000;
