$tooltip-bg: var(--brand-bg-color-inverse);
$tooltip-color: #fff; // TODO: theme foreground-color
$tooltip-padding: 0 $space-4;
$tooltip-shadow: none;
$tooltip-highlight-color: $tooltip-bg;
$tooltip-border-radius: $brand-border-radius;
